@model RoleCreateModel

<h3 style="text-align:center;color:black; margin-top:10px;">@localizer["Welcome to Add Role Page"] </h3>
<br />
<br/>
<br />
<form asp-action="Add" asp-controller="Role" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label class="mb-2" asp-for="Name">@localizer["Role Name"]</label>
        <input asp-for="Name" class=" form-control" style="border:1px solid #fc9b12" />
        <span asp-validation-for="Name"></span>
    </div>
    <button type="submit" class="btn btn-warning mb-2" value="Add" style="margin:10px">@localizer["Add"]</button>
</form>
