
<h1>@localizer["Confirm Delete"]</h1>
<a class="btn  btn-danger" asp-controller="Brand" asp-action="Delete" asp-route-id="@Model.Id">Yes</a>
<a class="btn btn-primary" asp-controller="Brand" asp-action="Index">Cancel</a>